/* 红（#e53a40    #090707）
绿色（#99d560    #363337）
蓝色（#3464f8   #1c202b）
第一个色是主色调，第二个是辅色调 */

.main-highlight-text__green {
	color: #99d560 !important;
}

.color__green::after {
	color: #99d560 !important;
}

.sub-highlight-bg__green {
	background: #363337 !important;
}

.main-highlight-bg__green {
	background: #99d560 !important;
}

.main-border__green {
	border-color: #99d560 !important;
}

.sub-border__green {
	border-color: #363337 !important;
}

.border-color__green::after {
	border-color: #99d560 !important;
}

.border-hover-color__green:hover {
	border-color: #99d560 !important;
}
