@mixin absolute-center($distance:0, $direction: top) {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;

	@if ($direction == bottom) {
		bottom: $distance;
	}

	@else {
		top: $distance;
	}
}
