//
// Alternate buttons
//

@each $color, $value in $colors {
	.btn-#{$color} {
		background-color: #{$value} !important;
		color: $white !important;
	}
}

@each $color, $value in $colors {
	.btn-plain-#{$color} {
		color: #{$value} !important;
		background-color: $white !important;
		border: 1rpx solid #{$value} !important;
	}
}

@each $color, $value in $enable-colors {
	.btn-enable-#{$color} {
		background-color: $value !important;
	}
}
