@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_1219024_1d8pewyzh3n.eot?t=1559196680049'); /* IE9 */
  src: url('//at.alicdn.com/t/font_1219024_1d8pewyzh3n.eot?t=1559196680049#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKUAAsAAAAABmgAAAJKAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApwegE2AiQDCAsGAAQgBYRtBzEboQUR1Ystsi+Ld0Er9mQhnjawtxA0+/qPlm2h2JqeQ27CbF0X4uG//dp9f2YXlaSaOESzJpo0kUiETobUCJGQqKJRLGTg4bv5G0s3JRbYvSwM5LbohV26wLD8AmR2g4OsOMaMEh4I52r3e3OzPrJGRSiW5Dzvp+9IJxAuza8A8HkupzeBDmT1gXLci8aaNKkXUC8+kALcC6PISijjhrELXMJjAtW6TIjldduplFmrAnGWvaQyF5VlVqgUyjUHM3FFSWVxpnMZfj9+JqMShVLCatk8XQ3z79ouQfg78AliBHS8hIQJZGK3NrsuCcYl1dmsj301Bu/cfI/Yq1Owv86qrwUdUHVPaldzq4UCbmuiToyM2kh0No7O3PE9Ju88/rsG6/kn9MaW3wvjVXujJTOtNvIxD/4s7Xd3gWDhZK5h+mvlwKOvDh1ZPz+VO/QFP0bdcyDrWstdZFVdO1roPGFbtWr842Czt7G2trsohkptI2wVo/NJpYGUzOwESmpMoazSHKqNWzteo8W5JHIDYy4AQqNrFOrdIGl0S2b2FSXt/lDWGAnV9qPlwhpDwWUtGI2gB/uH7OgIjld01HjD+N4MZ7Uh/0JuOQFTPxYLVzyQ59jSPnEWCRCYdljBc7htBCdTQSd9EjmXYQh1b+od7UorwWgEPdg/ZEdH8MeLLn3+hvG9GW7pqym/kFueHqZ+7EFeTUevvnt5pX3iLBIgMO2wgnm4bQRn/byCTvo0In0ugz0s9DX161v2rytDKa0se3exZyZVdm4jbEoB') format('woff2'),
  url('//at.alicdn.com/t/font_1219024_1d8pewyzh3n.woff?t=1559196680049') format('woff'),
  url('//at.alicdn.com/t/font_1219024_1d8pewyzh3n.ttf?t=1559196680049') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_1219024_1d8pewyzh3n.svg?t=1559196680049#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-iccloes:before {
  content: "\e60a";
}